.navbar{
    width: 100%;
    height: 100px;
    background-color: #eeeeee;
    /* background: transparent; */
    position: fixed;
    top: 0;
    /* left: 0; */
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    
    
}

.logo{
    height: auto;
    width:150px;
    padding-left: 20px;
    
}

.navbar-menu{
    list-style: none;
    display: flex;
    gap:20px;
    padding-right: 50px;
   
}

.navbar-menu li a{
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s ease;
    color: #d65804;
}

.login-btn{
    padding:13px 25px;
    margin-right:30px;
    font-size:20px;
    font-weight: 500;
    color: #fafafa;
    background-color: #d65804;
    border-radius: 10px;
    border: none;
}

