@import "tailwindcss";

@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/free-mode";


/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    
} */

body{
    width:100%;
    height:100%;
    /* background-color: rgb(196, 196, 120); */
}


.swiper-pagination {
  position: static !important;
  margin-top: 10px;
}


