*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.nav-links{
    display: flex;
    gap: 20px;
    text-decoration: none;
    font-size: 20px
}

.nav-links a{
    color: #fff;
    text-decoration: none;
    

}