.hero {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.hero-bg {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(0.8px);
    transform: scale(1.05);
}

.hero-content{
    z-index:1;
    position: relative; 
    transform: translate(50%, 0%);
    text-align: center;
    color:#fff;
    
}


.hero-title {
  font-size:3.5rem;
  font-weight: 800;
  line-height: 1.1;
  margin: 0 0 0.75rem;
}

.hero-subtitle {
  font-size:1.5rem;
  font-weight: 500;
  padding:10px 0;
}

.order-btn{
    padding:15px 30px;
    font-size:20px;
    font-weight: 500;
    color: #fafafa;
    background-color: #d65804;
    border-radius: 10px;
    border: none;
    margin-top:20px;
}

.category{
    height: 100vh;
    background-color: #d65804;
}
